<br>
<br>
<div class="container">
    <div class="row">
        <div class="col-8 offset-2">
            <div class="card mt-4">
                <div class="card">
                    <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator" src="/images/movie.jpg">
                    </div>
                    <div class="card-content">
                        <p id="namelink">{{event.name}}</p>
                    </div>
                    </div>
                    <div class="card-tabs">
                        {{!-- <ul class="tabs tabs-fixed-width">
                            <li class="tab"><a href="#test10">Movie Title</a></li>
                            <li class="tab"><a class="active" href="#test4">Date and Time</a></li>
                            <li class="tab"><a href="#test5">Location</a></li>
                            <li class="tab"><a href="#test6">Description</a></li>
                            <li class="tab"><a href="#test7">Host</a></li>
                        </ul> --}}
                    </div>
                    <div class="card-content grey lighten-4">
                        <div id="test7"><b>HOST:</b>   {{event.fullname}}</div>
                        <div id="test4"><b>DATE AND TIME:</b> {{event.dateAndTime}}</div>
                        <div id="test5">LOCATION: {{event.location}}</div>
                        <div id="test6">EVENT DESCRIPTION: {{event.description}}</div>
                        <div id="test10">MOVIE TITLE: {{event.movie}} </div> 
                        <div id="test8">MOVIE YEAR: {{event.movieDetails.Year}}</div>
                        <div id="test9">MOVIE PLOT:  {{event.movieDetails.Plot}}</div>
           
                    </div>
                </div>

            </div>
        </div>
    </div>
  </div>
  <div class="container">
  <form class="clearfix mb-4" action="POST">
      <div class="form-group">
      <label for="comment">Comments</label>
      <textarea class="form-control" id="comment" aria-describedby="example-description" placeholder="Whats on your mind?"></textarea>
      </div>
      <button id="submitComment" class="btn btn-primary float-right">Submit</button>
  </form>
    <ul id="comment-list" class="list-group">
      {{#each comment}}
        {{log this.body}}
          <li data-id="{{this.id}}" class="list-group-item">
             test {{this.body}}
            {{!-- <a href="event/{{this.id}}">{{this.name}}</a> --}}
          </li>
       {{/each}}
    </ul>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/events.js"></script>
<script src="/js/members.js"></script>

</div>
<br>
<br>
<div>
    <a href="/members">← Back To the List of the Events</a>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
</div>
<!-- to make card collapsible -->
<script>
    $(document).ready(function() {
        $('.tabs').tabs();
        $('.collapsible').collapsible()
       console.log(event.movieDetails);
    });
</script>
