<div class="container">
  <div class="row">
    <div class="col-8 offset-2">
      <div class="card mt-4">
        <div class="card-body">
          <h5 class="card-title">Event</h5>
          <p>
            <strong>Name</strong>: {{event.name}}
          </p>
          <p>
            <strong>Date</strong>: {{event.date}}
          </p>
          <p>
            <strong>Location</strong>: {{event.location}}
          </p>
          <p>
            <strong>Description:</strong> {{event.description}}
          </p>
            <a href="/">← Back To Home</a>
        </div>
      </div>
    </div>
  </div>
  <form class="clearfix mb-4" action="POST">
      <div class="form-group">
      <label for="comment">Comments</label>
      <textarea class="form-control" id="comment" aria-describedby="example-description" placeholder="Whats on your mind?"></textarea>
      </div>
      <button id="submitComment" class="btn btn-primary float-right">Submit</button>
  </form>
    <ul id="comment-list" class="list-group">
      {{#each comments}}
          <li data-id="{{this.id}}" class="list-group-item">
            <a href="event/{{this.id}}">{{this.name}}</a>
          </li>
       {{/each}}
    </ul>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/events.js"></script>
<script src="/js/members.js"></script>

